<app-motivo-toolbar [entityName]="currentEntity.descripcion" ></app-motivo-toolbar>
<div class="grid justify-center mt-4">
  <div class="card shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">
        Ticket<span class="text-primary">Motivo</span>
      </div>
      <div class="divider"> </div>
      <div class="grid">
        <label for="">Motivo:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: Perdida de carnet"
          [(ngModel)]="currentEntity.descripcion">
          <label>Ciudad</label>
          <app-modulo-combobox (moduloIdEmitter)="currentEntity.moduloId=$event" [moduloId]="currentEntity.moduloId">
          </app-modulo-combobox>
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="currentEntity.enabled" />
            <span class="label-text ml-2">Activo</span>
          </label>

          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="currentEntity.archived" />
            <span class="label-text ml-2">Ocultar</span>
          </label>
        </div>
        <input class="input input-primary" type="date" name="" id="" [(ngModel)]="currentEntity.created">
      </div>
      <div class="card-actions">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="divider"> </div>



</div>
